<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
         http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
  <display-name>Event_Carnival</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>EventRegistration</display-name>
    <servlet-name>EventRegistration</servlet-name>
    <servlet-class>RegisterEvent.EventRegistration</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EventRegistration</servlet-name>
    <url-pattern>/eventRegistration</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TicketServlet</display-name>
    <servlet-name>TicketServlet</servlet-name>
    <servlet-class>Ticket.TicketServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TicketServlet</servlet-name>
    <url-pattern>/ticketServlet</url-pattern>
  </servlet-mapping>
</web-app>